@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Medium.woff2') format('woff2'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Medium.woff') format('woff'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-ExtraLight.woff2') format('woff2'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-ExtraLight.woff') format('woff'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Regular.woff2') format('woff2'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Regular.woff') format('woff'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Bold.woff') format('woff'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Light.woff2') format('woff2'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Light.woff') format('woff'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-ExtraBold.woff2') format('woff2'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-ExtraBold.woff') format('woff'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-SemiBold.woff2') format('woff2'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-SemiBold.woff') format('woff'),
        url('../../public/assets/fonts/bricolage-grotesque/BricolageGrotesque-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
 */

 @font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../../public/assets/fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../../public/assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../../public/assets/fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../../public/assets/fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




body {
    /* font-family: 'Bricolage Grotesque', sans-serif; */
    font-family: 'Roboto', sans-serif;
}


/* Define class component*/
.btn-primary {
    @apply relative flex sm:px-6 sm:py-4 px-4 py-2 rounded-full font-bold text-sm sm:text-base items-center justify-center overflow-hidden bg-[#BA121A] text-white shadow-2xl transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-orange-600 before:duration-500 before:ease-out hover:shadow-red-600 hover:before:h-56 hover:before:w-[400px];
}
.container {
    @apply max-w-[1480px] m-auto px-10;
}
.course-title {
    @apply font-bold text-4xl text-rose-800 text-center mb-8;
}

.custom-container {
    @apply max-w-[1440px] m-auto px-4 md:px-[60px] lg:px-[80px] py-8 md:py-[60px] lg:py-[80px];
}

.padding-bottom-none{
    @apply pb-8 md:pb-0;
}

.mt-custom-otp{
    @apply mt-4 !important;
}

.color-primary {
    @apply text-[#BA121A];
}

.color-secondary {
    @apply text-[#2E3E5C];
}

.h-custom-line{
    height: 1px;
    background-color: #5A5A5A;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}
.bg-image-login{
    background-image: url('/assets/img/bg-login.png');
    background-repeat: no-repeat;
}

.-top-2 {
    top: -2.4rem;
}
.-right-2 {
    right: -2.4rem;
}

.slider-nav .slick-current img{
    border: 3px solid red;
    border-radius: 50%;
    padding: 2px;
    width: 5rem;
}
.slider-nav .slick-current p{
    display: block;
}

.grid-cols-custom{
    grid-template-columns: 120px 1fr 120px 120px;
}

.bg-section{
    background-color: #F9FAFC;
}

.logo{
    width: 120px;
}

#child-home{
    width: 50%;
    margin: 0 auto;
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
}

@media only screen and (max-width: 768px){
    .grid-cols-custom{
        grid-template-columns: 1fr;
    }
    .logo{
        width: 80px;
    }
}